@font-face {
    font-family: poppis;
    src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: medio;
    src: url(fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: light;
    src: url(fonts/Poppins-Light.ttf);
}

body { 
    background-color: black;
    color: white;
    font-family:poppis;
    max-width: 1200px;
    margin: 10%;
    padding: 10px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -10%;
}

#title {

    flex-direction: column;
    line-height: 10px;

}

a {

    color:white;
    
}

#inscreva-se-btn {

    border: 2px solid #FFB703;
    padding: 3px;px;
    border-radius: 20px;
}

#inscreva-se-btn:hover {

        color: #FFFFFF;
        background-color: #FFB703;
}

a:hover {
        color: #FFB703;
        transition: 0.3s;
}



li {

    display: inline-block;
    margin: 20px;
    
}

h1{
    font-weight: 200;
}

main {

    display:flex;
    flex-direction: row;
    margin-top:50px;

}

h2{
    font-size:50px;
    line-height:10px;
    font-family: medio;
}

p {

    line-height: 20px;
    max-width: 500px;
    font-family:light;
}


form {

    display: flex;
    flex-direction: column;
    widht: 75%;
}

form [type="submit"] {

    height: 50px;
    width: 50%;
    background-color:#FFB703 ;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
    width: 50%;
}


input {

    margin-top: 10px;
    height: 10px;
    padding : 20px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    width: 100%;
    border-radius: 20px;
}


img {

    width: 500px;
    padding-left: 70%;
}

p:hover {

    color: #FFB703;
    transition: 0.3s;
    cursor: pointer;;
}